<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write new chat</title>
</head>
<body>
    <h2>write new chat</h2>
    <form action="/chats" method="POST">
        <input type="text" placeholder=" who are you ?" name="from"> <br><br>
        <textarea name="message" id="" cols="30" rows="10" placeholder=" ">Write your msg here.</textarea><br><br>
        <input type="text" placeholder="add reciever" name="to"><br><br>
        <button>Create Chat</button>
    </form>
</body>
</html>